@import '../../../../variables';

.headerTaskOuter {
  width: 100%;
  max-width: $breakpoint-desktop;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

.headerTask {
  display: flex;

  .tutorialInfo {
      flex-grow: 1;
      margin-right: 0.5em;
      padding: 0.5em;
  }

  button {
      height: 100%;
      color: white;

      &[disabled] {
          opacity: 0.2;
      }
  }
}