@import '../../../variables';

.price {
  padding: 0 5px;
  text-align: center;
  font-family: $font-family-title;
  color: #00000099;
}

.doResearchTitle {
  @include pascalText();
  font-family: $font-family-title;
  margin-top: 10px;
}

.input {
  width: 100%;
}