@import '../../../../variables';

.mainMenu {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: $breakpoint-desktop;
  margin: auto;
  background-color: $color-bg;
  user-select: none;

  >a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.3em;
    padding-bottom: env(safe-area-inset-bottom);
    transition: width .1s linear;
    width: 20%;
    border-right: 2px solid #272727;

    &:last-child {
      border-right: none;
    }

    .svgIcon {
      margin: 1em 0;
      width: 2.5em;
      height: 3em;
      transition: transform .1s linear;
      transform: translateY(0px);

      svg {
        width: 2.5em;
        height: 3em;
      }
    }

    .titleContainer {
      position: absolute;
      bottom: calc(env(safe-area-inset-bottom) + 3px);
      left: 0;
      width: 100%;
      text-align: center;
      height: 2em;
      overflow: hidden; // In small devices (or other languages), the title text might overflow. Alternatively, we could make the text smaller
    
      .title {
        @include pascalText();
        font-family: $font-family-title;
        text-transform: uppercase;
        display: inline-block;
        font-size: 0;
        text-shadow: -1px 1px 0px #00000080;
      }
    }

    &.active {
      background: linear-gradient($menu--color-border, $menu--color-dark);
      width: 30%;

      @media (min-width: $breakpoint-desktop) {
        background: linear-gradient(0deg, $menu--color-border, $menu--color-dark);
      }

      .title {
        font-size: $font-size-medium;
        @media (min-width: 450px) {
          font-size: $font-size-large;
        }
      }

      .svgIcon {
        transform: translateY(-55%);
      }
    }
  }
}