@import '../../../../variables';

.mainMenu {
  display: flex;
  flex-direction: row;
  max-width: $breakpoint-desktop;
  margin: auto;
  background-color: #343434;

  >a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.3em;
    padding-bottom: env(safe-area-inset-bottom);
    transition: width .1s linear;
    width: 20%;
    border-right: 2px solid #272727;

    &:last-child {
      border-right: none;
    }

    .svgIcon {
      margin: 1em 0;
      width: 2.5em;
      height: 2em;
      transition: transform .1s linear;
      transform: translateY(0px);

      svg {
        width: 2.5em;
        height: 2em;
      }
    }

    .titleContainer {
      position: absolute;
      bottom: env(safe-area-inset-bottom);
      left: 0;
      width: 100%;
      text-align: center;
      height: 2em;
      overflow: hidden; // In small devices (or other languages), the title text might overflow. Alternatively, we could make the text smaller
    
      .title {
        font-family: $font-family-title;
        text-transform: uppercase;
        display: inline-block;
        font-size: $font-size-large;
        font-size: 0;
        text-shadow: -2px 2px 0px #00000080;
        &::first-letter {
          font-size: 1.3em;
        }
      }
    }

    &.active {
      background: linear-gradient(0deg, #CC8C20 0%, #EECF82 100%);
      width: 30%;

      .title {
        font-size: 1em;
      }

      .svgIcon {
        transform: translateY(-70%);
      }
    }
  }
}