@import '../../../variables';

.title {
  color: #fff;
  text-transform: uppercase;
  font-family: $font-family-title;
  font-size: $font-size-large;
  margin-bottom: 7px;
  font-weight: 900;
}

.amountContainer {
  font-family: $font-family-title;
  display: flex;
  flex-direction: row;
  align-items: center;

  .maxAmount {
    color: #00000099;
    flex-grow: 1;
    max-width: 25vw;
    text-align: center;
  }
  .currentAmount {
    text-align: center;
  }
}