@import '../../variables';

.container {
  display: flex;
  text-align: left;
  padding: 20px;
}

.badgeContainer {
  display: inline-block;
  margin-right: 10px;
  align-self: flex-start;

  .badge {
    width: 80px;
    height: 80px;
  }
}

.detailsText {
  flex-grow: 1;
  font-weight: 700;

  .longName {
    font-size: $font-size-xlarge;
  }

  .shortName {
    color: $color-brand-light;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .description {
    font-size: $font-size-large;
    white-space: pre-wrap;
  }
}

.editButton {
  float: right;
  font-size: $font-size-medium;
}