@import '../../variables';

.container {
  background: $gradient-brand;
  padding: 5px;
}

.inner {
  background-color: $color-brand-light;
  padding: 5px;

  &.withHairline {
    border: 1px solid $color-hairline;
  }

  &.darkBg>* {
    background: $color-bg;
  }
}