.container {
  background: linear-gradient(#EECF82, #CC8C20);
}

.inner {
  background-color: #EECF82;

  &.whiteBorder {
    border: 1px solid #FFFFFF;
  }

  &.darkBg > * {
      background: #343434;
  }
}