.container {
  background: linear-gradient(#E8CA7E, #A38F5B);
}

.inner {
  background-color: #E8CA7E;
  padding: 5px;

  &.whiteBorder {
    border: 1px solid #FFFFFF;
  }

  &.darkBg>* {
    background: #343434;
  }
}