@import '../../variables';

.button {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  &:active {
    transform: translateY(1px);
  }
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}