@import '../../variables';

.button {
  display: inline-block;
  color: #00000099;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  &:active {
    transform: translateY(2px);
  }
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}