.rankingItem {
  display: grid;
  grid-template-columns: auto 0.6fr 1fr;
  align-items: center;
  width: 100%;
  padding: 5px;
  color: #FFF8E6;
  
  &:not(:last-of-type) {
    border-bottom: 2px solid rgba(100, 255, 100, .2);
  }
}

.rankPosition {
    font-weight: bold;
    padding: 0.25em;
    color: #FFF8E6;

    &:global(.pos1) {
        color: #EECF82;
    }

    &:global(.pos2) {
        color: #DDDDDD;
    }

    &:global(.pos3) {
        color: #CC8C20;
    }
}

.points {
  font-weight: 700;
  text-align: end;
  font-size: 16px;
}
.username {
  margin-left: 5px;
}
