.rankingItem {
    display: grid;
    grid-template-columns: auto 1fr 0.7fr;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    color: #FFF8E6;
}

.rankPosition {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.25em;
    color: #FFF8E6;

    &:global(.pos1) {
        color: #EECF82;
    }

    &:global(.pos2) {
        color: #DDDDDD;
    }

    &:global(.pos3) {
        color: #CC8C20;
    }
}

.points {
    font-weight: 700;
    text-align: center;
    font-size: 1.15em;
}
.username {
    margin-left: 1em;
    font-size: 1.15em;
}
