.button {
    display: inline-block;
    border-radius: 0.25em;
    padding: 0.3em 0.75em;
    line-height: 1;
    background-color: #eee;
    color: #222;
    font-weight: 900;
    margin: 0.25em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    letter-spacing: 0.05em;

    &[disabled] {
        pointer-events: none;
        opacity: 0.4;
    }
}