.container {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.avatarLink {
  line-height: 0;
}

.avatar {
  border: 3px solid #EECF82;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.usernameLink {
  color: #FFF8E6;
  margin: 0.1em 0;
  display: block;
  text-transform: capitalize;
}