.lineGraphImg {
    display: block;
    max-width: 98%;
    max-height: 40vh;
    margin: 0 auto;
}

.container {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.3em;
    background: linear-gradient(hsla(222, 10%, 70%, 0.5), hsla(222, 10%, 63%, 0.5));
    text-align: center;
}