.container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.avatar {
  width: 55px;
  height: 55px;

  @media (min-width: 720px) {
    & {
      width: 70px;
      height: 70px;
    }
  }
}

.lvlText {
  text-align: center;
  position: relative;
  top: 4px;
}