@import '../../variables';

.startNewMission {
  padding: 10px;
}

.title {
  @include gradientText;
  @include pascalText;
  font-family: $font-family-title;
  font-weight: 600;
  text-transform: uppercase;
  font-size: $font-size-xlarge;
  margin-bottom: 20px;
}

.sendButtonTimer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

  >*:first-child {
    flex-shrink: 0;
    padding: 0 10px;
  }

  >*:nth-child(2) {
    flex-grow: 1;
  }
}

.sendButtonTitle {
  @include pascalText;
  text-align: center;
  color: #000000B3;
  font-family: $font-family-title;
  font-size: $font-size-large;
  font-weight: 500;
}