.headerTask {
  display: flex;
  padding: 1em;
  background-color: rgb(75, 75, 75);
  color: #fff;
  // For desktop
  max-width: 720px;
  width: 100%;
  margin: 0.5em auto;

  .tutorialInfo {
      flex-grow: 1;
  }

  button {
      color: white;

      &[disabled] {
          opacity: 0.2;
      }
  }
}