@import '../../../variables';

.pagination {
  display: flex;
  justify-content: center;

  .navLink {
    padding: 5px;
    font-size: $font-size-medium;
    color: #111;

    &.current {
      color: $color-green-dark;
    }
    &.prev {
      margin-right: 3px;
    }
    &.next {
      margin-left: 3px;
    }
  }
}
