.alliance-menu {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    li {
      margin: 0;
      flex-grow: 1;
      a {
        display: block;
        padding: 0.75em;
        max-width: 100%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 0.9em;
        &.active {
          background-color: #7A7A7A;
        }
      }
    }
  }
}