.container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 45%;
  height: 45%;

  path {
    fill: currentColor;
  }
}