.container {
  display: inline-grid;
  vertical-align: middle;
  align-items: center;
  position: relative;
}

// Global so it applies to alliance-badge-creator
:global(svg .secondary) {
  fill: currentColor;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 60%;
  height: 60%;
  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.5));

  path {
    fill: currentColor;
  }
}