@import '../../../../variables';

.moneyAndGoldContainer {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 160px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $color-text-light;
  margin: 0 5px;

  .statContainer {
    line-height: 0;
    width: 100%;
  }

  .stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.5px 3px;
    line-height: 1em;
    font-weight: 700;
    font-size: $font-size-medium;

    &.statMission1 {
      cursor: pointer;
      width: calc(100% - 25px);
    }

    &.statMission2 {
      cursor: pointer;
      width: 20px;
      margin-left: 5px;
    }
  }

  .headerStatIcon svg {
    margin-left: 3px;
    vertical-align: middle;
    width: auto;
    height: 14px;
    @media (max-width: 450px) {
      height: 12px;
    }
  }
}