.moneyAndGoldContainer {
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  padding: 0 1em;
  font-size: 0.9em;

  .statContainer {
    line-height: 0;
    width: 100%;
    max-width: 160px;
  }

  .stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    font-size: 16px;
    line-height: 1em;
    font-weight: 700;

    &.statMission1 {
      cursor: pointer;
      width: calc(100% - 25px);
    }

    &.statMission2 {
      cursor: pointer;
      width: 20px;
      margin-left: 5px;
    }
  }

  .headerStatIcon svg {
    margin-left: 3px;
    height: 12px;
    width: auto;
    vertical-align: middle;
  }
}