@import '../../../variables';

.container {
  margin-bottom: 20px;
}

.subMenuItem {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  font-family: $font-family-title;
  font-weight: 400;
  font-size: $font-size-large;
  &:global(.active) {
    color: $color-brand-light;
  }
}
