.loggedinContainer {
  width: 100%;
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: #0D0F0E;
  background-image: url('/img/bg.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.contentContainer {
  max-width: 720px;
  width: 100%;
  flex-grow: 1;
  align-self: center;
  overflow-x: auto;
}
