@import '../../variables';

.rankingContainer {
  border: #E7C97D solid 5px;
  background-color: $color-bg;
  padding: 5px;
  margin-top: 10px;
}

.monopolies {
  background: linear-gradient(#a7aebe, #929baf);
}

input.searchUser {
  display: block;
  margin-top: 10px;
  width: 100%;
}