.rankingContainer {
    width: 96%;
    margin: 0.5em auto;
    border: #E7C97D solid 7px;
    background-color: #343434;
}

.monopolies {
    background: linear-gradient(#a7aebe, #929baf);
}

input.searchUser {
    display: block;
    width: 96%;
    margin: 0.5em auto;
}