@import '../../variables';

.buildingStat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &Title {
    @include pascalShadowTitle();
    font-size: $font-size-small;
    margin-bottom: 5px;
  }
  &Value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.buildingAction {
  @include pascalShadowTitle();
  font-size: $font-size-medium;
  padding: 2px;
}

.buildingLocked {
  font-size: 40px;
  margin: 10px 0;
}
