@import '../../variables';

.buildingLocked {
  font-size: 40px;
  margin: 10px 0;
}

.statContainer {
  margin-bottom: 0.5em;
  font-family: $font-family-title;
  font-weight: 500;
  text-align: left;

  .statTitle {
    color: $color-text-light;
    margin-right: 0.5em;
  }

  .statValue {
    @include shadowText;
  }
}

.actionButton {
  @include pascalText();
  margin-top: 5px;
  color: #000000B3;
  font-family: $font-family-title;
  font-size: $font-size-large;
  font-weight: 600;
}

.buttonInfoText {
  display: flex;
  align-items: center;
  font-family: $font-family-title;
}

// For extract button progress bar
.progressText {
  color: #fff;
}