@import '../../../../variables';

.rightButtonsContainer {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 160px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.linkButtonContainer {
  width: 100%;
}

.rightButtonOuter {
  width: 100%;
  display: block;
  margin-top: 5px;
  &:first-child {
    margin-top: 0;
  }
}
.rightButtonInner {
  position: relative; // For .finishedActiveTasksCounter
  display: flex;
  flex-direction: row;
  align-items: center;

  .title {
    text-transform: uppercase;
    font-family: $font-family-title;
    color: #00000099;
    line-height: 1em;
    font-weight: 600;
    padding-left: 5px;
    font-size: $font-size-large;
    @media (max-width: $breakpoint-small - 1) {
      font-size: $font-size-small;
    }
  }
}

.finishedActiveTasksCounter {
  position: absolute;
  top: -11px;
  right: -11px;
  background: #E23434;
  border-radius: 16px;
  padding: 8px;
  border: 5px solid #343434;
}