.buildings-list {
  position: relative;

  .background {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 110%;
    height: 110%;
    background: linear-gradient(to bottom, rgba(140, 122, 122, 1) 0%, rgba(175, 135, 124, 1) 65%, rgba(175, 135, 124, 1) 100%) fixed;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  .content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 1em;
    row-gap: 3em;
    padding: 2.5em 1em;

    @media screen and (max-width: 719px) {
      & {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: unset;
      }
    }
    @media screen and (max-width: 399px) {
      & {
        grid-template-columns: 1fr;
        grid-auto-rows: unset;
      }
    }
  }
}

.building-item {
  padding: 0.5em;

  .build-button {
    display: block;
    margin-top: 0.5em;
    margin-left: auto;

    &:disabled {
      opacity: 0.5;
    }
  }
}