.switchBuyAndBank {
  display: block;
  margin: auto;
  font-size: 1.2em;
  padding: 0.5em;
  font-weight: 900;
  letter-spacing: 0.05em;
  background: transparent;
  border: 1px solid currentColor;
  color: #333;
}