.city-container {
  overflow: auto;
  width: 100%;
  .city {
    position: relative;
    overflow: hidden;
    .city-bg {
      background-image: url('./img/city.jpg');
      background-color: rgb(98, 133, 54);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .city-item {
      position: absolute;
      background-color: rgba(150, 150, 150, 0.7);
      left: 0;
      top: 0;
    }
  }
}

.building-item {
  padding: 0.5em;
}
.build-button {
  display: block;
  margin-top: 0.5em;
  margin-left: auto;
  &:disabled {
    opacity: 0.5;
  }
}