.cardContainer {
  padding: 10px;
}

.statContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  cursor: pointer;
  margin-top: 10px;
  &.canNotBuy {
    opacity: 0.4;
  }
}
.buttonNumberContainer {
  background-color: #343434;
  margin: 5px;
}