@import '../../variables';

.container {
  display: grid;
  background-color: #3e3e3e;
  background-image: url('./img/city_bg.jpg');
  background-size: cover;
  background-position: center center;
  padding: 5px 0;
  margin: -10px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (max-width: 550px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 375px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 600px) {
    font-size: $font-size-small;
  }
}
