@import '../../variables';

.container {
  display: grid;
  background-color: #3e3e3e;
  background-image: url('./img/city_bg.jpg');
  background-size: cover;
  background-position: center center;
  padding: 5px 0;
  margin: -10px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (max-width: 550px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 375px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 600px) {
    font-size: $font-size-small;
  }

  >div {
    flex-grow: 1;
    flex-basis: 1px;
    border: 2px solid $color-brand;
    border-radius: 5px;
    margin: 2px;
    padding: 6px;
    background-color: rgba(255, 248, 230, 0.1);
    position: relative;
  }
}

.topPanel {
  display: flex;
  flex-direction: row;

  .leftSide {
    flex-grow: 1;

    .statBadge {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      word-break: initial;
      text-align: center;
      &:not(:first-child) {
        margin-top: 10px;
      }

      >*:nth-child(1) {
        background: $color-text-light;
        border-radius: 7px;
        color: #343434;
        padding: 5px;
      }

      >*:nth-child(2) {
        background: $color-brand;
        color: #00000099;
        margin: 0px 7px;
        padding: 5px;
        padding-bottom: 12px;
        clip-path: polygon(100% 0, 100% calc(100% - 10px), 50% 100%, 0 calc(100% - 10px), 0 0);
      }
    }
  }

  .rightSide {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .allianceBadgeContainer {
      line-height: 0;
      background: $color-brand;
      padding: 3px;
      padding-bottom: 18px;
      margin-bottom: 5px;
      clip-path: polygon(100% 0, 100% 100%, 50% calc(100% - 15px), 0 100%, 0 0);
      line-height: 1.1;
      font-size: $font-size-xlarge;

      @media (max-width: 600px) {
        font-size: $font-size-large;
      }
    }

    .actionButton {
      width: 100%;
      max-width: 45px;
      text-align: center;
    }
  }
}

.bottomPanel {
  margin-top: 8px;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  background: $color-brand-dark;
  border-radius: 5px;

  >span {
    color: #0000009A;
    font-family: $font-family-title;
    padding: 0 15px;
    font-weight: 600;
    font-size: $font-size-large;
  }
}

.shieldOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(157, 202, 255, 0.5);
  overflow: hidden;

  // Reflection decorations
  .shieldOverlayReflections {
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -50%;
      background-color: rgba(255, 255, 255, 0.44);
      height: 200%;
      transform: rotate(30deg);
    }

    &::before {
      left: 20%;
      width: 20px;
    }

    &::after {
      left: 37%;
      width: 8px;
    }
  }

  .shieldOverlayContent {
    position: relative; // Display over reflection decorations
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .riotShieldIcon {
    margin: 10px 0;
    align-self: center;
  }

  .shieldBadge {
    width: 100%;
    padding: 3px;
    background-color: $color-brand-light;
    font-family: $font-family-title;
    font-weight: 600;
    color: #343434;
    text-align: center;
  }

  .shieldBadgeHangingTimer {
    display: inline-block;
    align-self: center;
    padding: 5px 20px;
    padding-bottom: 12px;
    background: $color-text-light;
    color: #00000099;
    font-weight: 800;
    clip-path: polygon(100% 0, 100% calc(100% - 10px), 50% 100%, 0 calc(100% - 10px), 0 0);
    text-align: center;
  }

  .manageButton {
    margin-top: 10px;
    align-self: center;
  }
}