@import '../../variables';

.container {
  display: grid;
  background-color: #3e3e3e;
  background-image: url('./img/city_bg.jpg');
  background-size: cover;
  background-position: center center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (max-width: 600px) {
    font-size: $font-size-small;
  }
  @media (max-width: 720px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  >div {
    border: 5px solid #DDAE52;
    display: flex;
    flex-direction: column;
  }
}

.allianceContainer {
  align-self: flex-start;
  margin-top: 5px;
  line-height: 0;
  background: #EECF82;
  padding: 3px;
  padding-right: 22px;
  clip-path: polygon(100% 0, calc(100% - 15px) 50%, 100% 100%, 0 100%, 0 0);
  line-height: 1.1;
  font-size: $font-size-xlarge;
  @media (max-width: 600px) {
    font-size: $font-size-large;
  }
}

.lvlContainer {
  display: flex;
  margin-top: 5px;
  font-weight: 600;

  *:nth-child(1) {
    background: #FFF8E6;
    color: #343434;
    padding: 10px 7px;
  }

  *:nth-child(2) {
    background: #EECF82;
    color: #00000099;
    padding: 10px 7px;
    padding-right: 15px;
    clip-path: polygon(calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 0 0);
  }
}

.attackButtonContainer {
  padding-left: 5px;
  margin-top: 5px;
}

.tierContainer {
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 3px;
  background: #DDAE52;

  >span {
    color: #0000009A;
    font-family: $font-family-title;
    padding: 0 15px;
    font-weight: 600;
    font-size: $font-size-large;
  }
}
