@import '../../variables';

.logo {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 30vh;
  margin-top: 15vh;
  margin-bottom: 40px;
}

.formContainer {
  padding: 10px;
  background: $gradient-brand;
  input {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  .buttonText {
    @include pascalText();
    @include blackBorderText();
    color: #fff;
    text-transform: uppercase;
    font-family: $font-family-title;
    font-weight: 600;
    width: 100%;
    font-size: $font-size-large;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
  }
}


.toggleActiveLink {
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}