.allianceLink {
  display: inline-flex;
  align-items: center;

  &.darkColors {
    .name {
      color: #946a00;
    }
  }

  .badge {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .name {
    vertical-align: middle;
    color: #EECF82;
    text-transform: uppercase;
    font-size: 12px;
  }
}