@import '../../../variables';

.allianceLink {
  display: inline-flex;
  align-items: center;

  &.darkColors {
    .name {
      color: #946a00;
    }
  }

  .badge {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .name {
    vertical-align: middle;
    color: $color-brand;
    text-transform: uppercase;
    font-size: $font-size-small;
  }
}

.bigBadgeContainer {
  flex-direction: column;
  align-items: center;
  
  .bigBadgeBadge {
    display: block;
    width: 80px;
    height: 80px;
  }
}