@import '../../../variables';

.allianceLink {
  display: inline-flex;
  align-items: center;

  .badge {
    width: 1.33em;
    height: 1.33em;
    margin-right: 0.5em;
  }

  .name {
    vertical-align: middle;
    color: $color-brand;
    font-size: 0.833em;
  }

  &.darkColors {
    .name {
      color: #946a00;
    }
  }

  &.bigBadge {
    flex-direction: column;
    align-items: center;

    .badge {
      display: block;
      width: 2em;
      height: 2em;
      margin-right: 0;
      margin-bottom: 0.1em;
    }
  }
}