.loggedinContainer {
    width: 100%;
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: #0D0F0E;
    background-image: url('./img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.stickyFullwidthBar {
    position: sticky;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
}

.contentContainer {
    max-width: 720px;
    width: 100%;
    flex-grow: 1;
    align-self: center;
    overflow-x: auto;
}

.headerContainer {
    margin: 0 auto;
    max-width: 720px;
    font-weight: 600;
    font-size: 1.2em;
    color: #fafafa;
    background-color: #000;
    border-bottom: 8px solid #EECF82;
    padding: 0.5em;

    .headerLinks {
        display: flex;

        .headerButton {
            background-color: #EECF82;
            border: 2px solid #A38F5B;
            text-align: center;
            margin: 0.5em 0;
            padding: 0.2em 1.75em;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
                width: 1.3em;
                height: 1.3em;
            }
        }

        .logo {
            display: block;
            margin: auto;
            width: 8em;
            max-width: 30vw;
        }
    }

    .headerStats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.8em;

        .stat {
            background-color: #343434;
            border: 4px solid #A38F5B;
            padding: 0.2em;
            line-height: 1;
        }
    }
}


.activeMission {
    margin: 0.5em;
    padding: 1em;
    background-color: rgb(75, 75, 75);
    color: #fff;

    h1 {
        font-size: 1.2em;
        margin: 0;
    }
}

.tutorialTask {
    display: flex;
    padding: 1em;
    background-color: rgb(75, 75, 75);
    color: #fff;
    // For desktop
    max-width: 720px;
    width: 100%;
    margin: 0.5em auto;

    .tutorialInfo {
        flex-grow: 1;
    }

    button {
        color: white;

        &[disabled] {
            opacity: 0.2;
        }
    }
}