// Screen sizes
$breakpoint-small: 425px;
$breakpoint-medium: 768px;
$breakpoint-desktop: 1024px;

// the :export directive is used by webpack to extract values for js
:export {
  breakpointDesktop: $breakpoint-desktop;
}

// Font sizes. Ratio: 1.3333
$font-size-small: 11px; // 11
$font-size-medium: 13.5px; // 14.666
$font-size-large: 19.5px; // 19.555
$font-size-xlarge: 26px; // 26.07
$font-size-xxlarge: 34.5px; // 34.765

$font-family-text: 'Lato', Arial, sans-serif;
$font-family-title: 'Oswald', 'Lato', Arial, 'sans-serif';

// Colors
$color-brand: #EECF82;
$color-brand-light: #F6DEA0;
$color-brand-dark: #DDAE52;
$color-hairline: #FFD880;
$gradient-brand: linear-gradient($color-brand-light, $color-brand-dark);

$color-green-light: #1FD070;
$color-green-dark: #00793C;
$gradient-green-horizontal: linear-gradient(-90deg, $color-green-light, $color-green-dark);
$gradient-green-vertical: linear-gradient($color-green-light, $color-green-dark);

$color-text-light: #FFF8E6;
$color-bg: #343434;
$color-red: #A70000;

// Header/Fotoer specific
$header--color-text: #fafafa;
$menu--color-border: #EACA77;
$menu--color-dark: #CC8C20;

// Mixins
@mixin gradientText {
  color: $color-brand-dark;
  background: $gradient-brand;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin shadowText {
  color: $color-brand-light;
  text-shadow: -2px 2px 0px rgba($color-brand-dark, 0.25);
}

@mixin pascalText {
  &::first-letter {
    font-size: 1.25em;
  }
}
