@mixin titleText {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', 'Lato', Arial, 'sans-serif';
  font-weight: 400;
}

@mixin boldShadow {
  font-weight: 600;
  text-shadow: #000 -1px 0px 0px, #000 -1px 1px 0px, #000 -1px -1px 0px, #000 1px -1px 0px,#000 1px -2px 0px,#000 0px 0px 0px, #000 0px 1px 0px, #000 0px -1px 0px, #000 1px 0px 0px, #000 1px 1px 0px, #000 -2px 0px 0px, #000 -2px 2px 0px, #000 -2px -2px 0px, #000 2px -2px 0px,#000 0px 2px 0px, #000 0px -2px 0px, #000 2px 0px 0px, #000 2px 1px 0px, #000 2px 2px 0px, #000 -2px -2px 0px;
}

@mixin gradientText {
  color: #E9C574;
  background: linear-gradient(#F6DEA0, #DDAE52);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin pascalText {
  &::first-letter {
    font-size: 1.3em;
  }
}

@mixin shadowedTitle {
  @include titleText();
  @include boldShadow();
}

@mixin gradientTitle {
  @include titleText();
  @include gradientText();
}

@mixin pascalShadowTitle {
  @include shadowedTitle();
  @include pascalText();
}

@mixin pascalGradientTitle {
  @include gradientTitle();
  @include pascalText();
}
