@mixin titleText {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald';
  transition: font-size .1s linear;
  font-weight: 400;
}

@mixin boldShadow {
  font-weight: 600;
  text-shadow: #000 -1px 0px 0px, #000 -1px 1px 0px, #000 -1px -1px 0px, #000 1px -1px 0px,#000 1px -2px 0px,#000 0px 0px 0px, #000 0px 1px 0px, #000 0px -1px 0px, #000 1px 0px 0px, #000 1px 1px 0px, #000 -2px 0px 0px, #000 -2px 2px 0px, #000 -2px -2px 0px, #000 2px -2px 0px,#000 0px 2px 0px, #000 0px -2px 0px, #000 2px 0px 0px, #000 2px 1px 0px, #000 2px 2px 0px, #000 -2px -2px 0px;
}

@mixin gradientText {
  background: linear-gradient(0deg, #CC8C20 0%, #D0952D 0%, #DBAA4C 11%, #E3BA63 19%, #E9C574 28%, #ECCC7E 38%, #EECF82 50%, #ECCC7E 62%, #E9C574 72%, #E3BA63 81%, #DBAA4C 89%, #D0952D 97%, #CC8C20 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin pascalText {
  &::first-letter {
    font-size: 1.3em;
  }
}

@mixin shadowedTitle {
  @include titleText();
  @include boldShadow();
}

@mixin gradientTitle {
  @include titleText();
  @include gradientText();
}

@mixin pascalShadowTitle {
  @include shadowedTitle();
  @include pascalText();
}

@mixin pascalGradientTitle {
  @include gradientTitle();
  @include pascalText();
}
