@import '../../variables';

.title {
  @include gradientText;
  font-family: $font-family-title;
  font-size: $font-size-xlarge;
  margin-bottom: 10px;
}

.monopolies {
    padding: 10px;
    tr:not(:last-child) td {
      padding-bottom: 10px;
    }
}
