@import '../../../variables';

.rankingItem {
  display: grid;
  grid-template-columns: auto 1fr auto 0.5fr;
  align-items: center;
  width: 100%;
  padding: 5px;
  color: $color-text-light;
  &:not(:last-of-type) {
    border-bottom: 2px solid rgba(238, 207, 130, .2);
  }
}

.rankPosition {
    font-weight: bold;
    padding: 0.25em;
    color: $color-text-light;

    &:global(.pos1) {
        color: $color-brand;
    }

    &:global(.pos2) {
        color: #DDDDDD;
    }

    &:global(.pos3) {
        color: #CC8C20;
    }
}

.points {
  font-weight: 700;
  text-align: end;
  font-size: $font-size-medium;
}
.username {
  margin-left: 5px;
}
.actions {
  margin-right: 5px;
  position: relative;
}
.pointsContainer {
  text-align: center;
  padding: 1px!important;
  position: relative;

  .icon {
    position: absolute;
    right: -20px;
    top: 0;
    svg {
      height: 20px;
      width: auto;
    }
  }
}