@import '../../../variables';

.chatToggleButton {
  z-index: 199;
  position: fixed;
  right: 0px;
  bottom: 135px;

  @media (min-width: $breakpoint-desktop) {
    bottom: 30px;
  }

  background: $gradient-brand;
  padding: 7px;
  padding-right: 0;
  cursor: pointer;

  > * {
    padding: 10px;
    padding-bottom: 7px;
    background: $color-bg;
  }
}

.unreadMessagesCount {
  position: absolute;
  right: 0.75em;
  top: 0;
  background: #E23434;
  border-radius: 12px;
  padding: 6px;
  border: 4px solid #474747;
}

.chatBubble {
  position: fixed;
  bottom: 130px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 200;

  @media (min-width: $breakpoint-desktop) {
    bottom: 15px;
    right: 70px;
  }

  &.selectingRoom {
    .chatWindow {
      @media screen and (min-width: $breakpoint-desktop) {
        &:not(.fullScreen) {
          width: 684px;
        }
      }

      .chatWindowSidebar {
        .chatWindowSidebarHeader {
          flex-direction: row;

          .chatWindowSidebarToggle {
            margin-top: 0;
            transform: none;
          }
        }
      }
    }
  }

  .chatWindow {
    position: fixed;
    background: $gradient-brand;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    transition: opacity 200ms;

    @media screen and (min-width: $breakpoint-desktop) {
      &:not(.fullScreen) {
        position: relative;
        margin-bottom: 15px;
        width: 500px;
        height: 500px;
      }
    }

    .chatWindowSidebar {
      display: flex;
      flex-direction: column;
      background-color: #222222;
      margin-right: 10px;
      max-width: 220px;
      overflow-y: auto;
      overflow-x: hidden;

      .chatWindowSidebarHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 3px solid $color-bg;
        padding: 10px 5px;
        position: sticky;
        top: 0;
        background: #222;

        .chatWindowSidebarClose,
        .chatWindowSidebarToggle {
          background: transparent;
          border: 0;
          text-align: left;
          cursor: pointer;
          transition: transform .25s ease;
          outline: none;

          svg * {
            fill: $color-brand-light !important;
          }
        }

        .chatWindowSidebarToggle {
          transform: rotate(180deg);
          cursor: pointer;
          margin-top: 20px;
        }
      }

      .chatWindowSidebarRoomList {
        display: flex;
        flex-direction: column;
        padding: 10px;
        min-width: 220px;
        max-width: 220px;

        .chatRoomCategory {
          @include gradientText();
          @include pascalText();
          text-transform: uppercase;
          font-family: $font-family-title;
          font-weight: 600;
          margin-bottom: 20px;
          font-size: $font-size-medium;

          @media screen and (min-width: $breakpoint-desktop) {
            font-size: $font-size-large;
          }
        }

        .chatRoomCategoryList {
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;

          .chatRoomItemButton {
            flex-grow: 1;
            text-align: left;
            font-weight: 600;
            color: #fff;
            border: none;
            background: transparent;
            cursor: pointer;
            font-size: $font-size-small;

            @media screen and (min-width: $breakpoint-desktop) {
              font-size: $font-size-medium;
            }

            &:not(:last-child) {
              margin-bottom: 15px;
            }

            .chatRoomItemButtonUnread {
              padding: 2px 15px;
              background: red;
              border-radius: 15px;
              margin-left: 10px;
            }
          }
        }
      }

      .fullScreenButton {
        display: none;

        @media screen and (min-width: $breakpoint-desktop) {
          display: unset;
        }
      }

    }

    .chatWindowBody {
      flex: 1;
      display: flex;
      flex-direction: column;

      &.showRoomList {
        .chatRoomList {
          position: sticky;
          top: 0;
          display: flex;
        }
      }

      .chatWindowBodyHeader {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        border-bottom: 3px solid $color-bg;
        position: sticky;
        top: 0;
        background: #101010;

        .chatWindowBodyHeaderTop {
          display: flex;

          h3 {
            @include gradientText();
            @include pascalText();
            text-transform: uppercase;
            font-family: $font-family-title;
            margin-bottom: 5px;
            flex-grow: 1;
            font-weight: 600;
            font-size: $font-size-medium;

            @media screen and (min-width: $breakpoint-desktop) {
              font-size: $font-size-large;
            }
          }

          .chatOptionsButton {
            border: 0;
            background: transparent;
            cursor: pointer;
          }
        }

        .chatWindowBodyHeaderBottom {
          color: rgba(255, 255, 255, 0.6);
          font-weight: bold;
        }
      }

      .chatRoomList {
        display: none;
        background-color: rgba(0, 0, 0, 0.2);
        flex-direction: column;
        flex-basis: 150px;

        .chatRoom {
          padding: 10px;
          border-bottom: 1px solid #333333;
        }
      }

      .chatMessagesWrapper {
        background-color: #101010;
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: scroll;

        .chatMessage {
          font-size: $font-size-medium;
          padding: 10px 0;

          &:not(:last-child) {
            border-bottom: 1px solid $color-bg;
          }

          .chatMessageUserAvatar {
            float: left;
            margin-right: 10px;
          }

          .chatMessageUsername {
            color: $color-brand-light;
            font-weight: bold;
          }

          .chatMessageTimestamp {
            margin-left: 10px;
            font-size: $font-size-small;
          }
        }
      }
    }

    .chatWindowFooter {
      display: flex;

      form {
        display: flex;
        flex-direction: column;
        flex: 1 0;
        margin: 10px;

        .chatTextInput {
          width: 100%;
          border-width: 1px;
          padding: 10px;
          margin-bottom: 10px;
        }

        .chatTextSubmit {
          align-self: flex-end;
          padding: 5px 30px;
        }
      }
    }
  }
}