@import '../../../../variables';

.buildingInputLabel {
  display: flex;
  flex-direction: row;
  align-items: center;

  >*:nth-child(1) {
    font-family: $font-family-title;
    padding: 0 10px;
    font-weight: 500;
    color: #00000099;
  }

  >*:nth-child(2) {
    flex-shrink: 1;
    flex-grow: 1;
    margin: 0 10px;
    min-width: 30vw;
    text-align: center;
    clip-path: polygon(10px 0, 100% 0, 100% 100%, 10px 100%, 0 50%);
  }
}