.list {
  position: relative;


  .content {
    position: relative;
    padding: 1em;

    .grid {
      margin: 2.5em 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 1fr;
      column-gap: 1em;
      row-gap: 3em;

      @media screen and (max-width: 719px) {
        & {
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: unset;
        }
      }

      @media screen and (max-width: 399px) {
        & {
          grid-template-columns: 1fr;
          grid-auto-rows: unset;
        }
      }
    }
  }
}