.container {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
.avatarLink {
    line-height: 0;
}
.avatar {
    border-radius: 0.3em;
    width: 2em;
    height: 2em;
    margin: 0.3em;
    margin-left: 0;
}
.usernameLink {
    margin-right: 0.3em;
}