.research-item {
  display: inline-block;
  padding: 1em;
  min-width: 50%;
  max-width: 50%;
  @media (max-width: 400px)  {
    & {
      min-width: 100%;
      max-width: 100%;
    }
  }
}
.buy-button {
  display: block;
  margin-top: 0.5em;
  margin-left: auto;
  &:disabled {
    opacity: 0.5;
  }
}
