@import '../../variables';

.title {
  @include gradientText;
  font-family: $font-family-title;
  font-size: $font-size-xlarge;
  margin-bottom: 10px;
}
.subtitle {
  font-weight: 600;
  margin-bottom: 20px;
}

.container {
  padding: 10px;
  tr:not(:last-child) td {
    padding-bottom: 10px;
  }
}

.rankTd {
  padding: 3px;
  min-width: 2em;
}