@import '../../../variables';

.saveButton {
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-family: $font-family-title;
  font-size: $font-size-large;
  font-weight: 500;
}

.title {
  @include gradientText;
  font-family: $font-family-title;
  font-size: $font-size-xlarge;
  margin-bottom: 10px;
}