@import '../../../variables';

.lineGraphImg {
  display: block;
  max-width: 98%;
  max-height: 40vh;
  margin: 0 auto;
}
.declaredOnText {
  text-align: right;
  font-weight: 400;
  opacity: 0.75;
}