@import '../../../../variables';

.statContainer {
  flex: 1 0 33%;

  &:not(:last-child) {
    margin-right: 0.25em;
  }
}

// Main container serves to hide the side and top borders on mobile
.container {
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: $breakpoint-desktop - 1) {
    >* {
      margin: -9px;
      margin-bottom: 0;
    }
  }
}

.stat {

  &.target {
    display: flex;
    align-items: center;
    padding: 5px;

    .arrowsSvg {
      margin: 0 5px;
    }
  }

  &.timer {
    min-width: 3em;
    padding: 5px;
    flex-grow: 1;
    flex-shrink: 0;
    font-family: $font-family-title;
    font-size: $font-size-large;
    font-weight: 700;
    text-align: center;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: $font-size-small;
    word-break: normal;

    >* {
      margin: 5px;
    }
  }

  .cancelText {
    color: $color-red-light;
  }
}
