@import '../../../../variables';

.statContainer {
  flex: 1 0 33%;

  &:not(:last-child) {
    margin-right: 0.25em;
  }
}

// Main container serves to hide the side and top borders on mobile
.container {
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: $breakpoint-desktop - 1) {
    >* {
      margin: -9px;
      margin-bottom: 0;
    }
  }
}

.stat {
  padding: 10px;

  &.statMission2 {
    flex-grow: 1;
    text-align: center;
    margin-left: 8px;
  }

  &.statMission3 {
    display: flex;
    align-items: center;
    font-size: $font-size-small;
    margin-left: 8px;
  }

  .cancelText {
    color: $color-red;
  }
}

.headerStatIcon svg {
  margin-left: 3px;
  height: 13px;
  width: auto;
  vertical-align: middle;
}