@import '../../variables';

.container {
  padding: 10px;
}

.title {
  @include gradientText;
  font-family: $font-family-title;
  font-size: $font-size-xlarge;
  margin-bottom: 10px;
}
.subtitle {
  font-weight: 600;
}