.desktop-header {
  max-width: 100%;
  background-color: #363636;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
}

.main-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  max-width: 720px;
  li {
    margin: 0;
    flex-grow: 1;
    a {
      display: block;
      padding: 0.75em;
      max-width: 100%;
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-size: 0.9em;
      font-weight: normal;
      &.active {
        background-color: #7A7A7A;
      }
    }
  }
}

.money-display {
  margin: 0 auto;
  max-width: 720px;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0.5em 1em;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
}
