@import '../../variables';

.sticky {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.9);
}

.container {
  margin: 0 auto;
  max-width: $breakpoint-desktop;
  color: $header--color-text;
  background-color: $color-bg;

  .containerBottomBorder {
    padding-top: 4px;
    background: $color-brand;
    border-bottom: 4px solid $color-brand-dark;

    &::after {
      content: "";
      width: 100%;
      display: block;
      border-bottom: 1px solid $color-hairline;
    }
  }
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  @media (min-width: $breakpoint-medium) {
    padding: 12px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 12px 20px;
  }
}