@import '../../../../variables';

.subMenu {
  position: relative;
  top: 0.5px;
  display: flex;
  flex-direction: row;
  max-width: $breakpoint-desktop;
  margin: auto;
  background-color: $color-bg;
  border-bottom: 15px solid $menu--color-border;
  border-top: 3px solid $color-brand;
  user-select: none;

  &.desktop {
    border-top: 15px solid $menu--color-border;
    border-bottom: 0;
  }

  >a {
    position: relative;
    flex-grow: 1;
    padding: 0.7em 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .subMenuItem {
      @include pascalText();
      font-family: $font-family-title;
      text-transform: uppercase;
      font-weight: 400;
      transition: all ease-in-out .3s;
      font-size: $font-size-medium;
    }

    &.active .subMenuItem {
      @include gradientText();
    }
  }

  .subMenuMarkers {
    position: absolute;
    left: 0;
    height: 100%;
    overflow: hidden;
    width: 1em;
    margin-left: -0.5em;
    transition: all linear .1s;

    &::before {
      display: block;
      content: "";
      width: 0.5em;
      height: 0.5em;
      background-color: #EACA77;
      transform: rotate(45deg);
      position: absolute;
      left: 0;
      right: 0;
      top: -0.25em;
      margin: auto;
    }

    &::after {
      display: block;
      content: "";
      width: 0.5em;
      height: 0.5em;
      background-color: #EACA77;
      transform: rotate(45deg);
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.25em;
      margin: auto;
    }
  }

}