@import '../../../../variables';

.modal {
  width: 90vw;
  max-width: 600px;
}

.container {
  padding: 20px;
  font-size: $font-size-large;
}

.title {
  color: #343434;
  font-size: $font-size-xxlarge;
  font-weight: 900;
  margin-bottom: 20px;
  opacity: 0.9;
}

.subtitle {
  color: #343434;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 5px;
}

.dottedLineSpacer {
  border-top: 4px dashed #343434;
  opacity: 0.1;
  margin-bottom: 15px;
}

.troopsRow {
  display: flex;
  flex-direction: row;
  margin: 5px 0;

  &.rowHighlight {
    margin: 0 -5px;
    padding: 0 5px;
    background-color: #FFEB4B;
    border-top-left-radius: 0.5em 1.5em;
    border-bottom-right-radius: 0.5em 1.5em;

    >*:first-child {
      font-weight: 900;
      opacity: 0.8;
    }
  }

  >* {
    flex-grow: 1;
    flex-basis: 1px;
    padding: 5px 0;
  }
}

.cancelMission {
  margin-top: 20px;
  cursor: pointer;

  span {
    color: #A7000099;
    text-decoration: underline;
    font-style: italic;
    opacity: 0.8;
    margin-right: 10px;
  }
}