@import '../../variables';

$border-radius-size: 14px;

.card {
  position: relative;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.85em;

  .cardHeader {
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
    background: linear-gradient(#CC8C20, #EECF82);

    .image {
      position: relative;
      height: 7em;
      margin-bottom: 1em;
      border-top-left-radius: $border-radius-size;
      border-top-right-radius: $border-radius-size;

      img {
        width: 100%;
        max-width: 13em;
        position: absolute;
        top: -3.4em;
        left: 0;
        right: 0;
        margin: auto;
        filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
      }
    }

    .ribbon {
      position: absolute;
      top: 0;
      right: 0;
      width: 5em;
      height: 5em;
      background: linear-gradient(225deg, #343434 0%, #000000 100%);
      clip-path: polygon(-2% -2%, 102% -2%, 102% 102%);
      border-top-right-radius: $border-radius-size;

      span {
        position: absolute;
        top: 6px;
        right: 6px;
        font-size: 1.6em;
        font-family: "Engebrechtre Bold";
        text-align: right;
        color: rgba(255, 255, 255, 0.6);
        padding-left: 40%; // for word break
      }

      &.moreThan2Chars span {
        font-size: 1.3em;
      }

      &.moreThan3Chars span {
        font-size: 1.2em;
      }
    }

  }

  .accentBg {
    font-weight: bold;
    background: #343434 0% 0% no-repeat padding-box;
    color: #fff;
    border: 7px solid #EECF82;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .name {
      font-size: 1.7em;
      font-weight: 900;
      padding: 0 0.35em;
    }

    .description {
      padding: 0.5em;
      flex-grow: 1;
      white-space: pre-wrap;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .input {
      display: block;
      border: none;
      border-radius: 0.3em;
      font-size: 1.2em;
      padding: 0.3em 0.75em;
      line-height: 1;
      background-color: #000;
      color: #fafafa;
      font-weight: 900;
      margin: 0.5em auto;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
      letter-spacing: 0.05em;
      width: 80%;

      &:disabled {
        opacity: 0.4;
      }
    }

    .button {
      user-select: none;
      cursor: pointer;
      margin-top: 10px;

      &:disabled,
      &[disabled] {
        opacity: 0.4;
      }
    }

    .children {
      padding: 10px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}

.statContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
}

.buttonNumberContainer {
  background-color: #343434;
  position: relative;

  .buttonNumberProgress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    background: linear-gradient(90deg, #4A8B1A, #71B020);
  }

  .buttonNumberText {
    position: relative;
  }
}