@import '../../variables';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;

  @media (max-width: 550px) {
    grid-template-columns: 1fr 1fr;
  }
}