@import '../../variables';
@import '../../mixins.scss';

.card {
  position: relative;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  &Disabled {
    filter: grayscale(90%);
    cursor: not-allowed;
  }

  &.cardColorful {
    box-shadow: 0px 0px 15px gold;

    .cardHeader {
      background: linear-gradient(yellow, gold);
    }

    .darkBg {
      border-color: gold;
    }
  }

  .cardHeader {
    padding: 5px;
    padding-bottom: 0;
    background: linear-gradient(#CC8C20, #EECF82);

    .image img {
      display: block;
      width: 100%;
      height: calc(100% * (300 / 586));
      object-fit: cover;
    }

    .ribbon {
      position: absolute;
      top: 4px;
      left: 4px;
      width: calc(100% - 8px);
      background-color: #343434B2;
      color: #ffffff;
      padding: 4px 15px;
      font-size: $font-size-large;
      font-weight: 700;
      text-align: right;
    }

  }

  .darkBg {
    font-weight: bold;
    background: #343434 0% 0% no-repeat padding-box;
    border: 5px solid #EECF82;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 5px;

    .name {
      @include gradientText();
      font-family: $font-family-title;
      text-transform: uppercase;
      transition: all ease-in-out .3s;
      font-weight: 700;
      font-size: $font-size-large;
      margin-bottom: 10px;
      &::first-letter {
        font-size: 1.3em;
      }
    }

    .children {
      // flex-grow: 1; // Disabled due to ios safari bug, calculating too much extra height
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.statContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
}

.buttonNumberContainer {
  background-color: #343434;
  position: relative;

  .buttonNumberProgress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    transition: width .3s ease-in-out;
    background: linear-gradient(90deg, #4A8B1A, #71B020);
  }

  .buttonNumberText {
    position: relative;
    font-size: $font-size-small;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button {
  user-select: none;
  cursor: pointer;
  margin-top: 10px;

  &:disabled,
  &[disabled] {
    opacity: 0.4;
  }
}