@import '../../variables';

.grid {
  margin: 3em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 3em;

  @media (max-width: 550px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $breakpoint-extrasmall - 1px) {
    grid-template-columns: 1fr;
  }

}