.grid {
  margin: 3em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 3em;

  @media screen and (max-width: 719px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 350px) {
    & {
      grid-template-columns: 1fr;
    }
  }

}