@import '../../variables';

.card {
  position: relative;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  &Disabled {
    filter: grayscale(90%);
    cursor: not-allowed;
  }

  .cardHeader {
    padding: 5px;
    padding-bottom: 0;
    background: $gradient-brand;

    .image img {
      display: block;
      width: 100%;
      height: calc(100% * (300 / 586));
      object-fit: cover;

      // Prevent content reflow from still loading images
      &::before {
        display: block;
        content: '';
        padding-top: calc(100% * (300 / 586));
      }
    }

    .ribbon {
      position: absolute;
      top: 4px;
      left: 4px;
      width: calc(100% - 8px);
      background-color: rgba($color-bg, 0.7);
      color: #ffffff;
      padding: 4px 15px;
      font-size: $font-size-medium;
      font-weight: 700;
      text-align: right;
    }

  }

  .darkBg {
    font-weight: bold;
    background: $color-bg;
    border: 5px solid $color-brand;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 5px;

    .name {
      @include gradientText();
      @include pascalText();
      font-family: $font-family-title;
      text-transform: uppercase;
      transition: all ease-in-out .3s;
      font-weight: 700;
      font-size: $font-size-large;
      margin-bottom: 10px;
    }

    .children {
      @supports not (-webkit-touch-callout: none) {
        // Disabled on ios due to safari bug, calculating too much extra height
        flex-grow: 1; 
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.statContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
}

.buttonNumberContainer {
  background-color: $color-bg;
  position: relative;

  .buttonNumberProgress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    transition: width .3s ease-in-out;
    background: linear-gradient(90deg, #4A8B1A, #71B020);
  }

  .buttonNumberText {
    position: relative;
    font-size: $font-size-small;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button {
  user-select: none;
  cursor: pointer;
  margin-top: 10px;

  &:disabled,
  &[disabled] {
    opacity: 0.4;
  }
}