@import '../../../variables';

.button {
  width: 100%;
}

.actionTitle {
  @include pascalText();
  flex-grow: 1;
  flex-shrink: 1;
  color: #000000B3;
  text-transform: uppercase;
  font-family: $font-family-title;
  font-weight: 600;
  font-size: $font-size-large;
  @media (max-width: 440px) {
    font-size: $font-size-medium;
  }
}

.input {
  width: 100%;
  margin: 10px 0;
}

.dailyPriceContainer, .actionPriceContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dailyPriceContainer {
  margin-bottom: 10px;
}

.dailyPriceText, .actionPriceText {
  font-family: $font-family-title;
  font-size: $font-size-medium;
  font-weight: 600;
}
.dailyPriceText {
  flex-grow: 1;
  text-align: center;
  color: #000000B3;
}
.actionPriceText {
  color: #ffffff;
  margin: 0 5px;
}