@import '../../variables';

.title {
  @include pascalText();
  @include gradientText();
  font-family: $font-family-title;
  font-size: $font-size-xlarge;
  font-weight: 700;
  margin-bottom: 15px;
}

.smallTitle {
  color: $color-brand-light;
  font-family: $font-family-title;
  font-size: $font-size-large;
  font-weight: 700;
}

.contentContainer {
  padding: 10px;
}

.createLoanRow {
  display: flex;
  margin-bottom: 10px;

  >* {
    flex-grow: 1;
    flex-basis: 1px;

    &:nth-child(even) {
      text-align: right;
    }
  }
}

.loanItem {
  display: flex;
  align-items: center;
  >* {
    flex-grow: 1;
  }
}